
.cardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

.card {
  display: flex;
  width: 90%;
  max-width: 1200px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.cardImageContainer {
  position: relative; /* Required for next/image fill layout */
  flex: 0 0 30%;
  height: 100%; /* Ensures the image container height matches content */

}

.cardImage {
  border: rebeccapurple;
  border-radius: 8px 0 0 8px; /* Optional: adds rounded corners to the image */
}

.cardContent {
  flex: 1;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 8px;
}

.cardCategory, .cardText, .cardAuthor {
  margin-bottom: 8px;
}

.cardAuthor {
  font-size: 0.9em;
  color: #666;
}

